* {
  transition: all 0.3s !important;
  outline: none !important;
}
.post-card {
  width: 300px;
}
.hidden {
  display: none;
}
.post-card {
  position: relative;
}
.check {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
